<div class="container-fluid text-center h-100">
    <div class="row justify-content-center align-items-center h-100">
        <!-- TODO : footer -->
        <div class="col-md-1">
            <a href="">
                <i class="fab fa-facebook-f text-white  fa-2x"></i>
                <p class="social-icon-f text-white text-uppercase">facebook</p>
            </a>
        </div>
        <div class="col-md-1">
            <a href="">
                <i class="fab fa-twitter text-white  fa-2x"></i>
                <p class="social-icon-f text-white text-uppercase">twitter</p>
            </a>
        </div>
        <div class="col-md-1">
            <a href="">
                <i class="fab fa-instagram text-white  fa-2x"></i>
                <p class="social-icon-f text-white text-uppercase">instagram</p>
            </a>
        </div>
        <div class="col-md-1">
            <a href="">
                <i class="fab fa-youtube text-white  fa-2x"></i>
                <p class="social-icon-f text-white text-uppercase">youtube</p>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="text-muted m-0 pt-3 pb-3">
            Copyright© 2018 Alex Developpement. Tous droits réservés
        </p>
    </div>
</div>